db.sqlite3
env/
__pycache__
media
static-root

#
#
## Excluir archivos de audio
#*.mp3
#*.wav
#*.ogg
#*.flac
#
## Excluir archivos de video
#*.mp4
#*.avi
#*.mov
#*.mkv
#
## Excluir archivos de media
#media/
#*
## Excluir otros archivos comunes
#
#node_modules/
#
#dist/
#build/
#*.log
#*.txt
#*.pdf
#*.docx
#*.xlsx
#*.pptx
#*.zip
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.tar
#*.bz2
#*.xz
#*.lzma
#*.lzo
#*.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
#*.tar.bz2
#*.tar.xz
#*.tar.lzma
#*.tar.lzo
#*.tar.lz
#*.rar
#*.7z
#*.tar.gz
