body {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 18px;
    padding: 8px;
}

.upload-file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: 250px;
    justify-content: center;
    text-align: center;
    gap: 18px;
}

.form {
    width: auto;
    min-width: 250px;
    background-color: var(--off-white);
    border: 3px dashed var(--primary);
    padding: 32px 22px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-label {
    font-family: var(--font-family);
    font-weight: 600;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    gap: 8px;

    cursor: pointer;
    color: var(--secondary);
}

.input-file {
    display: none;
}

.button-submit {
    width: 100%;
    font-family: var(--font-family);
    border: none;
    border-radius: 5px;
    height: auto;
    min-height: 28px;
    padding: 8px;
    background-color: #1a9af7;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    transition: all 200ms ease-in-out;
}

.button-submit:hover {
    opacity: 0.8;
}

.upload-icon {
    width: 62px;
    height: 62px;
}

.download-link--container {
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--secondary);
    text-decoration: none;
}

.download-link-unsuported-format--container {

    width: auto;
    height: auto;
    min-height: 42px;
    padding: 12px 24px;
    gap: 6px;

    border-radius: 35px;
    font-family: var(--font-family);
    font-weight: bold;
    text-align: center;

    background-color: var(--off-black);
    color: var(--off-white);
}

.download-link-unsuported-format--container.hidden {
    display: none;
}

.transcription--container {

    position: relative;
    padding: 12px;

    overflow-y: scroll;
    text-align: center;
    min-height: 350px;
    max-height: 50vh;
    max-width: 400px;

    border-radius: 6px;
    background-color: var(--off-black);
    color: var(--off-white);
    box-shadow: 4px 4px 8px 4px var(--off-black);
    opacity: 1;
    transition: all 200ms ease-in;
}

.transcription--container p {
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 1.5;
}

.transcription--container::-webkit-scrollbar {
    width: 14px;
}

.transcription--container::-webkit-scrollbar-track {
    background-color: var(--off-white);
    border: 6px solid var(--off-black);
    border-radius: 6px;
    padding: 4px;
    /*background: orange; !* Color del área de seguimiento *!*/
}

.transcription--container::-webkit-scrollbar-thumb {
    background-color: var(--secondary); /* Color del thumb (deslizador) */
    border-radius: 20px; /* Redondez del thumb */
    border: 1px solid var(--off-black); /* Crea un borde alrededor del thumb */
}

.hidden {
    display: none;
}

.toggle-nav-bar {
    position: sticky;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: var(--off-black);
    width: 100%;
    border-radius: 6px;
    /* border-bottom: 6px solid var(--secondary); */
    /* padding: 12px; */
    display: flex;
    /*gap: 12px;*/
    padding: 8px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 600;
}

.button {
    color: var(--off-white);
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 1.5;
    padding: 8px;
    border: none;
    background-color: var(--off-black);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.button:hover {
    border-bottom: 6px solid var(--secondary);
}

.button.active {
    border-bottom: 6px solid var(--secondary);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-show {
    transition: all 100ms ease-in-out;
}

.keywords--container {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    gap: 6px;

    list-style: none;
}

.keyword-tag {
    flex-grow: 1;
    color: var(--off-white);
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 1.5;
    background-color: var(--primary);
    width: auto;
    min-height: 40px;
    height: auto;
    border-radius: 8px;
    padding: 6px;
}