{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transcription App</title>
    <link rel="stylesheet" href="{% static '/styles/common.css' %}">
    <link rel="stylesheet" href="{% static 'styles/videototext/videototext.css' %}">
</head>
<body style="background-image: url('{% static 'fondo.jpg' %}')">

<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <label for="file" class="input-label">
        {% if uploaded_file_name %}
            <p>{{ uploaded_file_name }}</p>
            <img src="{% static '/assets/videototext/icons8-music-50.png' %}" alt="upload-icon" class="upload-icon">
        {% else %}
            <p>Arrastre o suba un archivo</p>
            <img src="{% static '/assets/videototext/icons8-upload-80.png' %}" alt="upload-icon" class="upload-icon">
        {% endif %}
    </label>
    <input required class="input-file" type="file" name="file" id="file" accept="audio/*">
    <button type="submit" class="button-submit">Upload</button>
</form>

{% if uploaded_file_url %}

    <p class="download-link--container">Download here: <a href="{{ uploaded_file_url }}" target="_blank">{{ uploaded_file_name }}</a></p>
    <audio controls src="{{ uploaded_file_url }}" title="{{ uploaded_file_name }}"></audio>

{% elif not uploaded_file_url and request.method != 'GET' %}
    <p style="color: red">Algo salió mal, intentalo otra vez.</p>
{% endif %}

{#{% if transcription %}#}

    <p>transcription </p>

{#{% elif not transcription and request.method != 'GET' %}#}

{#    <p style="color: red">Algo salió mal, intentalo otra vez.</p>#}

{#{% endif %}#}

</body>
</html>